node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# resources
dndSources/*

# Ignore all .idea folder contents
.idea/*

# But keep specific IntelliJ IDEA project settings
!.idea/runConfigurations/
!.idea/runConfigurations/*.xml
!.idea/codeStyles/
!.idea/codeStyles/*.xml
!.idea/inspectionProfiles/
!.idea/inspectionProfiles/*.xml
!.idea/encodings.xml
!.idea/misc.xml
!.idea/vcs.xml
!.idea/compiler.xml
!.idea/jarRepositories.xml